{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      },
      "antd"
    ],
    [
      "import",
      {
        "libraryName": "fan-standard-comp",
        "libraryDirectory": "es",
        "style": true
      },
      "comp"
    ],
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-proposal-class-properties"
  ]
}
